
  <div class="container">
    
    <div class="row">
      <div class="col">
        <br>
      <h2 style="text-align: center; color:white "> {{materiaTitle}} </h2> 
       <form #responseForm="ngForm" (ngSubmit)="onSubmit()">

        <div class="form-group" *ngFor="let question of pregunta; index as i"> <!-- Question one -->
            <label style="color:white " for={{i+1}} class="control-label">{{i+1}}. {{question.pregunta}}</label>
            <select class="form-control" id={{i+1}}  name={{i+1}} #respOne="ngModel" [(ngModel)]="responses[i]">
              
              <option value="r1">{{respuesta[i][0].r1}}</option>
              <option value="r2">{{respuesta[i][0].r2}}</option>
              <option value="r3">{{respuesta[i][0].r3}}</option>
              <option value="r4">{{respuesta[i][0].r4}}</option>
             
            </select> 
        </div>    
        
        
        <div class="form-group"> <!-- Submit Button -->
          <div class="col text-center">
            <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#scoreModal" >Finalizar</button>
            </div>
        </div>     
        
    </form>
      </div>
      <div class="col col-lg-3">
      
        <div class="container" >
          <div class="row">
              <div class="col-4"></div>
              <div class="col-8" style="margin-top: 15%;">
                  <div class="card text-white bg-dark mb-3" style="justify-content:center; align-items: center;">
                      <div class="card-title mt-3" style="color: red;">Online</div>
                      <video width="320" height="270" autoplay muted #videoContainer></video>
                      <canvas style="position: absolute; margin-top:54px" #myCanvas></canvas>
                  </div>
              </div>
              <div class="col-2"></div>
          </div>
      </div>          
       
      </div>
      
    </div>
  </div>



<!-- Modal -->
<div class="modal fade" id="scoreModal" tabindex="-1" role="dialog" aria-labelledby="scoreModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <h2>Su calificacion es: {{this.finalScore}}</h2>
       <h5>{{messageScore}}</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary"  [routerLink]="['/mismaterias']" >Ir a materias</button>

      </div>
    </div>
  </div>
</div>

  