<!-- <router-outlet></router-outlet> -->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">


    <!--CABECERA DE LA WEB-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark " style="background-color: black">
        <a class="navbar-brand" [routerLink]="['/']" style="cursor: pointer;">Auxiliaturas</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" >
                    <a class="nav-link mr-2" style="cursor: pointer;" data-toggle="modal" data-target="#exampleModal">Estudiante</a>
                  
                </li>
                <li class="nav-item" >
                    <a class="nav-link mr-2" style="cursor: pointer;" data-toggle="modal" data-target="#roomModal" data-dismiss="modal">Auxiliar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mr-2" [routerLink]="['/saved']" style="cursor: pointer;" >Mis Materias</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mr-2" [routerLink]="['/room']" style="cursor: pointer;" >Nueva Materia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mr-2" [routerLink]="['/myrooms']" style="cursor: pointer;">Mis reuniones</a>
                </li>
            </ul>

        </div>

        <ul class="navbar-nav navbar-right ">

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Jose Merida
        </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Setting</a>
                    <a class="dropdown-item" href="#">Binnacle</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" style="cursor: pointer;">Log out</a>
                </div>
            </li>

        </ul>

    </nav>

    <body>




    </body>




    <router-outlet></router-outlet>