<!-- <router-outlet></router-outlet> -->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">


    <!--CABECERA DE LA WEB-->
    <nav class="navbar navbar-expand-lg navbar-dark " style="background-color:  rgba(0, 0, 0,0.1)">
        <a class="navbar-brand" [routerLink]="['/']" style="cursor: pointer;">Auxiliaturas</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" >
                    <a class="nav-link mr-2" [routerLink]="['/login/1']" style="cursor: pointer;" >Estudiante</a>
                  
                </li>
                <li class="nav-item" >
                    <a class="nav-link mr-2" [routerLink]="['/login/2']" style="cursor: pointer;">Auxiliar</a>
                </li>
                <li class="nav-item" *ngIf="status">
                    <a class="nav-link mr-2" [routerLink]="['/mismaterias']" style="cursor: pointer;" >Mis Materias</a>
                </li>
                <li class="nav-item" *ngIf="status">
                    <a class="nav-link mr-2"  style="cursor: pointer;" data-toggle="modal" data-target="#materiaModal" (click)="getAsignaturas()" >Nueva Materia</a>
                </li>
                <li class="nav-item" *ngIf="status">
                  <a class="nav-link mr-2" [routerLink]="['/mismaterias']" style="cursor: pointer;" >Mis clases</a>
              </li>
                
            </ul>

        </div>

        <div *ngIf="status">

            <ul class="navbar-nav navbar-right ">
    
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{persona[1].nombre}} {{persona[2].apellidos}}
            </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Setting</a>
                        <a class="dropdown-item" href="#">Binnacle</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" style="cursor: pointer;" (click)="logout()">Log out</a>
                    </div>
                </li>
    
            </ul>
        </div>

    </nav>

    <body>




  
  <!-- Modal -->
  <div class="modal fade" id="materiaModal" tabindex="-1" role="dialog" aria-labelledby="materiaModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="materiaModalLabel">Añadir Materia</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <select class="form-control" id="respFour" name="respFour"  #respFour="ngModel" [(ngModel)]="materiaId" >
                    <option *ngFor="let asignatura of asignaturas"  value={{asignatura._id}}>{{asignatura.nombre}}</option>
            </select>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" [routerLink]="['/aux/test/'+materiaId]" data-dismiss="modal">Realizar el test</button>
        </div>
      </div>
    </div>
  </div>


    </body>




    <router-outlet></router-outlet>