<div class="alert alert-danger col-md-6 offset-md-3 mt-3" *ngIf="error">
    Login failed!!!, verify your credentials.
</div>

<form #loginForm="ngForm" (ngSubmit)="onSubmit()">
    <h1>{{title}}</h1>
    <div class="inset">
        <p>
            <label for="correo">Correo</label>
            <input type="text" name="correo" id="correo" #correo="ngModel" [(ngModel)]="user.correo" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
            <small *ngIf="!correo.valid && correo.touched" class="invalid-feedback d-block">
                El correo no es válido.
                </small>
        </p>
        <p>
            <label for="contrasena">Contraseña</label>
            <input type="password" name="contrasena" id="contrasena" #contrasena="ngModel" [(ngModel)]="user.contrasena" required>
            <small *ngIf="!contrasena.valid && contrasena.touched" class="invalid-feedback d-block">
                La contraseña no puede estar vacia.
                </small>
        </p>

    </div>
    <p class="p-container">
        <button class="btn btn-info" type="submit" style="color: white;" [disabled]="loginForm.invalid">Ingresar</button>
        <button *ngIf="type==2" class="btn btn-danger" [routerLink]="['/register']" style="color: white; margin-left: 5px;"> Registrar</button>
    </p>
</form>