body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: white;
    font-size: 12px;
    background: #333 url('https://www.xtrafondos.com/descargar.php?id=3593&resolucion=2560x1440');
}